@import url("fontgoogle");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#F5EEFF, #DAC3F8);
}

.hourly-forecast .weather-list {
    display: flex;
}
